<div *ngIf="!garconOuFille">
  <button (click)="garconOuFille = 'garçon'">Garçon</button>
  <button (click)="garconOuFille = 'fille'">Fille</button>
</div>

<div *ngIf="!!garconOuFille">
  {{garconOuFille}}
</div>


<div *ngIf="!!garconOuFille && !relation">
  <button (click)="relation = 'ami'">Ami</button>
  <button (click)="relation = 'amoureux'">Amoureux</button>
  <button (click)="relation = 'neutre'">Neutre</button>
  <button (click)="relation = 'ennemi'">Ennemi</button>

</div>

<div *ngIf="!!relation">
  {{relation}}
</div>


<div *ngIf="!!relation && !!garconOuFille">
  Choisit un nombre entre 1 et {{noms[garconOuFille]?.length}} :
  <input type="number" min="1" max="{{noms[garconOuFille]?.length}}" (change)="changePersonne($event)">
  <button (click)="afficheResultat()">OK {{numeroPersonne}}</button>
</div>


{{phrase}}

<button (click)="reset()">Rejouer</button>
